/* 🔴 RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 🔴 BODY */
body {
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    font-family: "Times New Roman", serif;
}

/* 🔴 HOJA A4 */
.portada, .pagina {
    background: #fff;
    width: 210mm;
    min-height: 297mm;
    padding: 60px 80px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* 🔴 PORTADA */
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 👈 centra vertical */
    align-items: center;
    text-align: center;
}

/* AÑO */
.anio {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* LOGO */
.logo {
    width: 500px;
    margin: 50px auto 30px;
}

/* INSTITUCIÓN */
h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* TITULO */
.titulo {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5;
    margin: 60px 0;
}

/* TEXTO */
.portada p {
    font-size: 16px;
    margin: 10px 0;
}

/* BLOQUES */
.bloque {
    margin-top: 30px;
}

/* NEGRITA */
.negrita {
    font-weight: bold;
    letter-spacing: 1px;
}

/* 🔴 PAGINAS INTERNAS */
.pagina {
    text-align: justify;
    page-break-after: always;
    
}

.titulo-pagina {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: bold;
    
}

.texto {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* 🔴 FOOTER */
.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}

/* 🔴 IMPRESIÓN */
@page {
    size: A4;
    margin: 20mm;
}

@media print {
    body {
        background: none;
        padding: 0;
    }

    .portada, .pagina {
        box-shadow: none;
        margin: 0;
        width: 100%;
        min-height: 100%;
    }
}
/* 🔴 DEDICATORIA ABAJO Y DERECHA */
.pagina.dedicatoria {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 👈 BAJA TODO */
}

.pagina.dedicatoria .texto {
    width: 60%;
    margin-left: auto; /* 👈 DERECHA */
    text-align: justify;
    margin-bottom: 60px; /* 👈 separación del borde */
}
.pagina.dedicatoria .titulo-pagina {
    text-align: right;   /* 👈 lo manda a la derecha */
    margin-right: 20px;  /* 👈 lo separa un poco del borde */
}