/* 🔴 RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 🔴 BODY GENERAL */
body {
    background: #ccc; /* fondo gris alrededor */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    font-family: "Times New Roman", serif;
}


/* HOJA TIPO A4 */
.portada {
    background: #fff;
    width: 210mm;
    min-height: 297mm;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
}

/* TEXTO */
.anio {
    font-style: italic;
    margin-bottom: 20px;
}

.logo {
    width: 250px;
    margin: 20px auto;
    display: block;
}

h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0;
}

.portada p {
    margin: 5px 0;
}

/* 🔴 PAGINAS (DEDICATORIA / AGRADECIMIENTO) */
.pagina {
    width: 80%;
    margin: 100px auto;
    page-break-after: always; /* 👈 separa hojas */
    text-align: justify;
}

.titulo-pagina {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: bold;
}

.texto {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* 🔴 OPCIONAL: NUMERO DE PAGINA */
.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}